html{
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

section{
    display: flex;
    max-width: 90vw;
    /* border: 1px solid blue; */
    justify-content: space-between;
}

section article{
    flex: 0 0 200px;
}

/* h2{
    font-family: Georgia, serif;
    line-height: 1.2;
}

article{
    border: 1px solid black;
    padding: 1em;
} */