body{
    width: 100vw;
    font-family: Helvetica, sans-serif;
    margin: 0;

}

.card{
    display: flex;
    max-width: 875px;
    border: 3px solid black;
    border-radius: 0.5em;
    background-color: #1881B6;
    align-items: center;
    padding: 2em;
    justify-content: space-between;
    margin: 4em auto;
}

section{
    display: flex;
    flex-direction: column;
}

section p:first-child{
    font-weight: bold;
    text-transform: uppercase;
}

section h1{
    font-weight: normal;
    color: white;
    font-size: 30px;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;

}

.copy{
    line-height: 30px;
    text-indent: 35px;
    margin-bottom: 0;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

button{
    width: 125px;
    height: 30px;
    border-radius: 0.5em;
    border-color: black;
}

.contact-sales{
    background-color: rgb(182,65,109);
}

.contact-sales a{
    color: white;
}

.learn-more{
    background-color: #1881B6;
    border-color: black;
}

.learn-more a{
    color: black;
}

button a{
    text-decoration: none;
    font-weight: bold;
}

img{
    flex: 0 0 auto;
    display: block;
    width: 100%;
    height: auto;
}
