/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body{
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em ;
}

header, aside, main, footer{
    border-radius: 0.2em;
    background-color: rgb(168, 206, 255);
    padding-left: 0.5em;

}

aside ul{
    padding-inline-start: 0.5em;
}

header{
    flex-basis: 100%;
}

footer{
    flex-basis: 100%;
}

@media (min-width: 400px){
    body{
        flex-direction: row;
    }
    aside{
        flex: 2 1 auto;
    }
    main{
        flex: 6 1 50%;
    }
}

