* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

.container {
    display: flex;
    max-width: 65vw;
    margin: 0 auto;
}

section {
    display: flex;
    flex-wrap: wrap;
}

section span:first-child,
section span:nth-child(7) {
    flex: 1 0 100%;
}

span{
    display: block;
    text-align: center;
    border: 1px solid black;
    flex-grow: 1;
    padding: 0.5em;
    height: 5em;
}

.notes span{
    height: 10em;
}

/* .week span{
    height: 70px;
    width: 120px;
} */



/* .notes{
    flex-direction: column;
    align-content: flex-start;
} */